<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú de Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <br>
    <ion-item class="menuboton" button (click)="irAlogin()">Cerrar Sesión</ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Locaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card class="custom-card">
            <ion-button (click)="irACruz()" expand="block" class="boton">
              <div class="boton-content">
                <span>Santa Cruz</span>
                <ion-img src="../../assets/images/cruz.jpg" class="button-image"></ion-img>
              </div>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card class="custom-card">
            <ion-button (click)="irAlacueva()" expand="block" class="boton">
              <div class="boton-content">
                <span>Parque Acuático la Cueva</span>
                <ion-img src="../../assets/images/lacueva.jpg" class="button-image"></ion-img>
              </div>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card class="custom-card">
            <ion-button (click)="irApresa()" expand="block" class="boton">
              <div class="boton-content">
                <span>Presa de Malpaso</span>
                <ion-img src="../../assets/images/presa.jpg" class="button-image"></ion-img>
              </div>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <ion-card class="custom-card">
            <ion-button (click)="irAsantuario()" expand="block" class="boton">
              <div class="boton-content">
                <span>Santuario de la Virgen de Guadalupe</span>
                <ion-img src="../../assets/images/santuario.jpg" class="button-image"></ion-img>
              </div>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>