body {
  --background-color: #ffffff; /* Fondo completamente blanco */
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  --ion-background-color: #ffffff; /* Asegura el fondo blanco en ion-content */
}

.custom-card {
  --background: rgba(255, 255, 255, 1); /* Fondo blanco para las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que el contenido esté separado */
  height: 100px;
  width: 100%;
  background: transparent !important; /* Sin fondo */
  color: black !important; /* Texto en negro */
  font-weight: bold; /* Hace que los nombres resalten */
  border: none !important; /* Sin bordes */
  box-shadow: none !important; /* Sin sombras */
  padding: 0;
  margin: 0;
  text-transform: capitalize; /* Primera letra en mayúscula */
}

.boton::part(native) {
  background: transparent !important; /* Asegura que no tenga color */
  box-shadow: none !important;
  border: none !important;
}

.boton:hover {
  background-color: transparent !important; /* Mantiene el fondo transparente */
}

.boton-content {
  display: flex;
  justify-content: space-between; /* Asegura que el texto esté a la izquierda y la imagen a la derecha */
  align-items: center; /* Centra verticalmente el contenido */
  width: 100%;
}

.button-image {
  width: 70px; /* Tamaño reducido para que se vea bien en círculo */
  height: 70px;
  border-radius: 50%; /* Hace que las imágenes sean circulares */
  overflow: hidden;
  object-fit: cover;
  margin-left: 10px; /* Deja espacio entre el texto y la imagen */
}

.menuboton {
  text-align: center;
  --background: #bf0b5b;
  border-radius: 10px !important; 
}

ion-header {
  --background: #ffffff; /* Fondo blanco */
  background-color: #ffffff !important; /* Aplica un fondo blanco directamente */
}

ion-toolbar {
  --background: #041e68; /* Fondo blanco para la barra */
  background-color: #041e68 !important;
}
