<!-- filepath: /c:/Users/mast3/Desktop/proyecto/turistas/src/app/login/login.page.html -->
<ion-content class="main" [fullscreen]="true">
  <ion-grid class="h-100">
    <ion-row class="h-100 ion-align-items-center ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
        <ion-card>
          <div class="image-container">
            <ion-img
              src="../assets/images/logo.png"
              
            ></ion-img>
          </div>
          
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          
          <h3 class="correo">Correo:</h3>
          <ion-input [(ngModel)]="nombre" label=""  fill="outline" placeholder=""></ion-input>

          <h3 class="contra">Contraseña:</h3>
          <ion-input [(ngModel)]="contrasena" label="" label-placement="floating" fill="outline" placeholder="Enter text" type="password"></ion-input>
            
          <ion-button (click)="login()" expand="block">Iniciar sesión</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>